<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <title>Jarid Poe</title>
        <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        {% include header.html %}
        {% include nav.liquid %}
        <div class="container-fluid">


            <main class="container">
                {{ content }}
            </main>

            {% include footer.html %}

        </div>
    </body>
</html>