<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Jarid</title>
  </head>

  <body>
    {% include header.html %} {% include nav.liquid %}
    <div>
      <main>
        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
